body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.calcu{
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 10px;
}
#calcuDisplay{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.calcuButton{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.calcuButton button{
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
}
